<ul>
  <% if current_user.admin? %>
    <% @attractions.each do |a| %>
      <li><%= link_to "Show #{a.name}", attraction_path(a) %></li><br>
    <% end %>
    <li><%= link_to "New Attraction", new_attraction_path %></li>
  <% else %>
    <% @attractions.each do |a| %>
      <li><%= link_to "Go on #{a.name}", attraction_path(a) %></li><br>
    <% end %>
  <% end %>
</ul>
